<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
      
    <context:annotation-config />
    
        <bean id="humanherat" class="com.java.spaoutowire.Heart" primary="true">
        
        </bean>
        <bean id="animalheart" class="com.java.spaoutowire.Heart">
        
        </bean>
        <bean id="human" class="com.java.spaoutowire.Human">
            <!--        <property name="heart" ref="heartobj"></property>-->
        </bean>
    

    </beans>
    
    
    
    